<!DOCTYPE html>
<html>
  <head>
    <title>Add user</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <form action="/userlist" method="post">
        <p>
            <span>name:</span>
            <br>
            <input id="name" name="name" type="text">
        </p>
        <p>
            <span>password:</span>
            <br>
            <input id="password" name="password" type="password">
        </p>
        <p><input type="submit" value="submit"></p>
    </form>
  </body>
</html>